:root {
    --icon-chevron-left-sm: url('../assets/graphics/icons/small/left.svg');
    --icon-chevron-right-sm: url('../assets/graphics/icons/small/right.svg');
    --icon-chevron-up-sm: url('../assets/graphics/icons/small/up.svg');
    --icon-chevron-down-sm: url('../assets/graphics/icons/small/down.svg');
    --icon-close-sm: url('../assets/graphics/icons/small/close.svg');
    --icon-double-left-sm: url('../assets/graphics/icons/small/double-left.svg');
    --icon-double-right-sm: url('../assets/graphics/icons/small/double-right.svg');

    --icon-chevron-left-lg: url('../assets/graphics/icons/large/left.svg');
    --icon-chevron-right-lg: url('../assets/graphics/icons/large/right.svg');
    --icon-chevron-up-lg: url('../assets/graphics/icons/large/up.svg');
    --icon-chevron-down-lg: url('../assets/graphics/icons/large/down.svg');
    --icon-close-lg: url('../assets/graphics/icons/large/close.svg');
    --icon-check-lg: url('../assets/graphics/icons/large/check.svg');
    --icon-warning-lg: url('../assets/graphics/icons/large/warning2.svg');
    --icon-info-lg: url('../assets/graphics/icons/large/info.svg');

    --icon-hex-edit: url('../assets/graphics/icons/features/hex.svg');
    --icon-checksum: url('../assets/graphics/icons/features/checksum.svg');
    --icon-fullframe: url('../assets/graphics/icons/features/fullframe.svg');
    --icon-sprites: url('../assets/graphics/icons/features/sprites.svg');
    --icon-settings: url('../assets/graphics/icons/features/settings.svg');

}